.tabela{
    max-height: 80vh;
    overflow:auto;
    display: flex;
    justify-content: center;
}
.tabela th,
.tabela td{
    padding: 10px;
    text-align: center;
    border: 2px solid #333;
}
.tabela th{
    background-color: #57755F;
    opacity: 0.8;
}
.tabela td{
    background-color: #B6F7C9;
    opacity: 0.8;
}
.tabela-style{
    border-collapse: collapse;
    border:2px solid #333;
    width: 95%;
    
}
.box-table{
    background-color:#1BBF49;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tabela::-webkit-scrollbar{
    width: 0.5em;
}
.tabela::-webkit-scrollbar-thumb{
    background-color: #57755F;
    border-radius: 8px;
}
.tabela::-webkit-scrollbar-thumb:hover{
 background-color: #555;
}