
.tabela{
    max-height: 60vh;
    overflow-y:scroll;
    
}
.tabela th,
.tabela td{
    padding: 10px;
    text-align: center;
    border: 2px solid #ddd;
}
.tabela-style{
    border-collapse: collapse;
    border:2px solid #333;
}