.App{
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Main{
  text-align: center;
  color: beige;
  padding-top: 5px;
  padding-bottom: 35px;
}
.box{
  background-color:#242424;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}